<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - stackly</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/stackly.styles.css" asp-append-version="true" /> *@
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/1db0db01fa.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <button id="mobile-user-btn" class="mobile-user-toggle">
        <i class="fa-solid fa-user"></i>
    </button>
    <div class="logo-mobile"><a asp-area="" asp-controller="Home" asp-action="Index"></a></div>
    <nav id="nav" class="nav">
        <div class="logo"><a asp-area="" asp-controller="Home" asp-action="Index"></a></div>
        
        <div class="nav-items">
            <ul class="nav-links">

                <li><a asp-area="" asp-controller="Item" asp-action="Create" class="nav-link"> <span class="icon"><i class="fa-solid fa-cart-plus"></i></span>Dodaj Produkt</a></li>
                <li>
                    <a asp-area="" asp-controller="Item" asp-action="Index" class="nav-link"> <span class="icon"><i class="fa-solid fa-barcode"></i></span>Lista
                        produktów</a></li>
                <li><a asp-area="" asp-controller="Category" asp-action="Index" class="nav-link"> <span class="icon"><i class="fa-solid fa-icons"></i></span>Kategorie</a></li>
                <li><partial name="_LoginPartial"/></li>
            </ul>
        </div>

    </nav>
    <div class="main-area">
        @RenderBody()
    </div>
</div>

<nav class="mobile-nav">
    <a asp-area="" asp-controller="Item" asp-action="Index" class="mobile-nav-link">
        <i class="fa-solid fa-barcode"></i>
        Lista produktów
    </a>
    <a asp-area="" asp-controller="Item" asp-action="Create" class="mobile-nav-link">
        <i class="fa-solid fa-cart-plus"></i>
        Dodaj Produkt
    </a>
    <a asp-area="" asp-controller="Category" asp-action="Index" class="mobile-nav-link">
        <i class="fa-solid fa-icons"></i>
        Kategorie
    </a>
</nav>

<div id="mobile-account-menu" class="mobile-account-overlay">
    <div class="mobile-account-header">
        <button id="close-account-menu" class="close-btn"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div class="mobile-account-content">
        <partial name="_LoginPartial" />
    </div>
</div>

@* <footer class="footer"> *@
@*        &copy; 2025 - stackly - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@* </footer> *@


</body>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

<script>
    
    $(document).ready(function() {
        $('#mobile-user-btn').click(function() {
            $('#mobile-account-menu').addClass('open');
        });

        $('#close-account-menu').click(function() {
            $('#mobile-account-menu').removeClass('open');
        });
    });
</script>
</html>
