@model List<StacklyBackend.Models.Group>

@{
    ViewData["Title"] = "Index";
}

<h2>Group - @ViewData["Title"]</h2>
<a href="/group/create"><button>Add new group</button></a>
<p>Groups list: </p>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>UsersInGroup</th>
        <th>Actions</th>
    </tr>
    @foreach (var group in Model.ToArray() ?? Array.Empty<StacklyBackend.Models.Group>())
    {
        <tr>
            <td>@group.Id</td>
            <td>@group.Name</td>
            <td>@group.Users.Count()</td>
            <td><a href="/group/delete/@group.Id">Delete</a></td>
            <td><a href="/group/edit/@group.Id">Edit</a></td>
            <td><a href="/group/details/@group.Id">Details</a></td>
        </tr>
    }
</table>
