@model StacklyBackend.Models.ItemCreate
@using Microsoft.CodeAnalysis.Differencing
@{
    ViewData["Title"] = "Create Item";
    bool isGroupSelected = ViewBag.IsGroupSelected as bool? ?? false;
}

@section Styles {
    <link rel="stylesheet" href="~/css/forms.css" />
}

<div class="entry-section">
    <a href="@Url.Action("Index")" class="btn-back" aria-label="Go back">
        <i class="fa-solid fa-chevron-left"></i>
    </a>
    
    <h2>@ViewData["Title"]</h2>
</div>

<div class="info-section">
    <p>Please fill form to create your desired item!</p>
    
    <div class="select-group">
        <small>Group</small>
        @await Component.InvokeAsync("GroupDropdown")
    </div>
    
</div>

@if (!isGroupSelected)
{
    <div class="alert-box">
        <i class="fa-solid fa-triangle-exclamation"></i> 
        <strong>Attention!</strong><br>
        Please select a group from the dropdown above to continue.
    </div>
}
else
{
    <form-builder controller="Item" action="Create" method="post" enctype="multipart/form-data">
        <form-input-builder for="Name">
            Product Name
        </form-input-builder>
        <form-input-builder for="Description">
            Description
        </form-input-builder>
        <form-input-builder for="Quantity" type="number">
            Quantity
        </form-input-builder>
        <form-select-builder for="CategoryId" items="@ViewBag.Categories" option-label="-- Select Category --">
            Category
        </form-select-builder>
        <form-input-builder for="Files" type="file" multiple="true">
            Photos <small style="color: var(--text-gray); font-weight: normal;">(Max 10MB)</small>
        </form-input-builder>
        <form-submit-builder>
            Create Item
        </form-submit-builder>
    </form-builder>
}



