@model List<stackly.Models.Example>

@{
    ViewData["Title"] = "Index";
}

<h2>Example - @ViewData["Title"]</h2>
<a href="/example/create"><button>Add new example</button></a>
<p>Items list: </p>
<ul>
    @foreach (var item in Model.ToArray() ?? Array.Empty<stackly.Models.Example>())
    {
        <li>@item.Id @(item.Name) @(item.Price) <a href="/example/delete/@item.Id">Delete</a> <a href="/example/edit/@item.Id">Edit</a></li>
    }
</ul>
