@model List<StacklyBackend.Models.Example>

@{
    ViewData["Title"] = "Katalog Produktów";
}

<div class="third-box">

<div class="card-products">
                @foreach (var item in Model.ToArray() ?? Array.Empty<StacklyBackend.Models.Example>())
                {
 
                        <div class="card-product">   
                            <h3 class="product-title">
                                @(item.Name)
                            </h3>
                            <p class="product-id">
                                @item.Id 
                            </p>
                            @(item.Price) 
                            <a href="/example/delete/@item.Id">Delete</a> <a href="/example/edit/@item.Id">Edit</a>
                        </div>
                    
                }
    </div>
</div>